@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee&family=Chelsea+Market&family=Courier+Prime&family=Covered+By+Your+Grace&family=Fredericka+the+Great&family=Grandstander:wght@600&family=M+PLUS+1+Code:wght@600&family=Road+Rage&family=Roboto+Mono&family=Vujahday+Script&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #180f0f;
    margin: 0 auto;
}
  .main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 50px, 300px,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto);
    grid-auto-rows: auto;
    background-color: #180f0f;
    padding: 0;
    margin: 0, auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 10px;
    /*width: 100vw;
    height: 100vh;*/
  }
  img{
    grid-column: 1/2;
    grid-row:1/2;
  }
  header{
    grid-column: 1/13;
    grid-row:1/2;
    align-self: center;
    font-family: 'Fredericka the Great', cursive;
    color: #33867e;
    font-size: 56px;
    margin-top: 25px;
  }
  footer{
    grid-column: 1/13;
    grid-row: 12/13;
    color:azure;
  }
  .game-container{
   grid-column: 1/13;
   grid-row: 3/12;
   align-self: center;
   justify-self: center;
  
  }
  .game-container {
    display: grid;
    width: 600px;
    max-width: 80%;
    /*background-color: #fbd567;*/
    /*background-image: url("../img/green-background.png");*/
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    font-family: 'Courier Prime', monospace;
    text-align: justify;
  }
  
  .btn-grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn {
    background-color: #180f0f;
    border: 1px solid #FF6600;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-family: 'Courier Prime', monospace;
    box-shadow: 0 0 40px 40px #fb764d inset, 0 0 0 0 #ff6600;
    transition: all 150ms ease-in-out;
    }
    .btn:hover {
      box-shadow: 0 0 10px 0 #ff6600 inset, 0 0 10px 4px #ff6600;
    }
  
  @media (max-width:680px) {
    header{
    grid-column: 1/13;
    grid-row:2/3;
    word-wrap: break-word;
    font-size: 40px;
  }
    img{
    grid-column: 1/13;
    grid-row:1/2;
    align-self: center;
    justify-self: center;
  }
  .game-container{
    height: auto;
  }
  .btn:hover {
    background-color: #ff6600;
  }
}
#text{
  color:white;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fb764d,
    0 0 80px #fb764d,
    0 0 90px #fb764d,
    0 0 100px #fb764d,
    0 0 150px #fb764d;
}

