@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee&family=Chelsea+Market&family=Courier+Prime&family=Covered+By+Your+Grace&family=Fredericka+the+Great&family=Grandstander:wght@600&family=M+PLUS+1+Code:wght@600&family=Road+Rage&family=Roboto+Mono&family=Vujahday+Script&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #180f0f;
    margin: 0 auto;
}
  .main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,auto);
    grid-auto-rows: auto;
    background-color: #180f0f;
    padding: 0;
    margin: 0, auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 10px;
    /*width: 100vw;
    height: 100vh;*/
  }
  img{
    grid-column: 1/2;
    grid-row:1/2;
  }
  header{
    grid-column: 1/13;
    grid-row:1/2;
    align-self: center;
    font-family: 'Fredericka the Great', cursive;
    color: #33867e;
    font-size: 56px;
    margin-top: 25px;
  }
  footer{
    grid-column: 1/13;
    grid-row: 12/13;
    color:azure;
    justify-content: flex-end;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 32px;
    color: #33867e;
    margin-bottom: 5px;
  }

a{
  text-decoration: none;
}
i{
  color: #33867e;
}

  .game-container{
   grid-column: 1/13;
   grid-row: 3/11;
   align-self: center;
   justify-self: center;
  
  }
  .game-container {
    display: grid;
    width: 600px;
    max-width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    font-family: 'Courier Prime', monospace;
    text-align: justify;
  }
  
  .btn-grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
  }
  
   .btn {
    background-color: #180f0f;
    border: 1px solid #33867e;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-family: 'Courier Prime', monospace;
    box-shadow: 0 0 40px 40px #33867e inset, 0 0 0 0 #00ff00;
    transition: all 150ms ease-in-out;
    font-size: 16px;
    }
    @media (min-width:681px) {
    .btn:hover {
      box-shadow: 0 0 10px 0 #33867e inset, 0 0 10px 4px #33867e;
    }
    }
  @media (max-width:680px) {
    header{
    grid-column: 1/13;
    grid-row:2/3;
    word-wrap: break-word;
    font-size: 40px;
    width: auto;
  }
    img{
    grid-column: 1/13;
    grid-row:1/2;
    align-self: center;
    justify-self: center;
  }
  .game-container{
    height: auto;
    width: auto;
  }
  
}
#text{
  color:white;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #33867e,
    0 0 80px #33867e,
    0 0 90px #33867e,
    0 0 100px #33867e,
    0 0 150px #33867e;
}

